.App {
  background-color: bisque;
}
.card {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  display: inline-block;
}
.header {
  width: 720px;
  border: 1px solid black;
  background-color: aquamarine;
  margin: 0px 40px;
}

.body {
  width: 720px;
  border: 1px solid black;
  margin: 0px 40px;
}

.content {
  width: 720px;
  background-color: yellow;
}
